.wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Grid-områden för rader */
    grid-template-columns: 1fr; /* Grid-områden för kolumner */
    grid-template-areas: "header" "nav" "main" "footer"; /* Grid-områden för olika delar */
    background-color: white;
}

body {/* detta är body */
    margin: auto;
    padding: 0;
}

/* Huvudrubrik */
header {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #2b303a;
    height: auto;
    padding: 10px;
}

header h1 {
    font-size: 25px;
    margin: 0;
    color: white;
}

/* Länkar i huvudrubrik */
header a {
    display: flex;
    align-items: center;
    width: fit-content;
}

header img {/* huvudrubrik bild funktioner */
    width: 50px;
    height: auto;
}

main img {/* main bild funktioner */
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main {/* detta är main */
    display: grid;
    grid-area: main;
    height: auto;
    padding: 0;
    height: 80vh;
}

nav {/* Detta är naven */
    display: grid;
    grid-area: nav;
    height: auto;
    padding: 0;
    align-items: flex-start;
}

ol {
    color: #f2fdff;
}

/* Länkar i navigeringsmenyn */
li a {
    background-color: #7c7c7c;
    color: #f2fdff;
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    width: fit-content;
}

li a:hover + svg {/* det är när man hovera svg. */
    fill: red;
}

footer {
    background-color: #2b303a;
    color: #f2fdff;
    padding: 10px;
}

/* Navigeringsmeny */
nav > ul {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
}

nav, main {/* detta gäller för nav och main */
    background-color: #7c7c7c;
}

a {/* alla a element */
    display: block;
    width: auto;
    color: #f2fdff;
    text-decoration: none;
}

p {/* alla p element */
    color: #f2fdff;
}

nav img {/* detta är funktioner för nav img */
    width: 10%;
    height: auto;
}

svg {/* bild typ svg funktioner */
    width: 50px;
    height: 50px;
}

h2 {/* detta är funktioner för min h2 */
    color: white;
    text-align: center;
    background-color: #2b303a;
    height: min-content;
}

#byggadator {/* för att ändra hur sidan bygga,dator ska se ut.   */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    background-color: #f5ac72;
}

#byggaguides {/* samma som bygga dator, ändra färg.  */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    background-color: #ff9b71;
}

#byggadator,
.text-in-middle {/* Detta ska gälla för båda byggadator och text in middle */
    border: solid;
}

.text-in-middle {/* För att ligga alla klasser som har namnet text-in-middle I mitten. Jag vill inte att hela texten ska ändras till mitten */
    text-align: center;
}

.image-wrapper {/* Ge funktioner till bilder som har klasen image-wrapper.  */
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.image-for-computer {/* Klassen för bilder jag har så att de blír lika stoa som länken.  */
    width: 93%;
    height: auto;
    border: solid;
    border-width: 1px;
}

table {/* min table */
    border: 2px solid black;
    border-collapse: collapse;
    color: #f2fdff;
}

th, td {/* th och td funktioner */
    border: 1px solid black;
}

video {/* video funktioner  */
    border-radius: 30px;
    width: 300px;
    height: 300px;
}

a:link{/* Love Foucse Hate */
    color: blue;
    }
    
a:visited/* Love Foucse Hate */
{
    color: blue;
    }
a:focus/* Love Foucse Hate */
{
    color: red;
    }
a:hover/* Love Foucse Hate */
{
    color: orangered;
    }
a:active/* Love Foucse Hate */
{
    background-color:red
    }
.text-color-change{/* Love Foucse Hate */
    color: #ff0000;
}
