.wrapper{
    width: 100%;
    display:grid;
    grid-template-rows:auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    background-color:white;
    /* alla kod som sätter I main kommer att ändra sitt egenskaper beror på vad man skriver*/


}
body{
   
    margin: auto;
    padding: auto;
    
}
li a{/* allt text som är definerat som a ändrar egenskapr, alltså länker  */
    text-decoration: none;
    border: none;
    
}  

header{
    display: grid;
    grid-area: header;
    padding: auto;
    background-color: #2b303A;
    
}
main{
    display: grid;
    grid-area: main;
    height: auto;
    padding: auto;
    height:80vh;
}
nav{
    display: grid;
    grid-area: nav;
    height: auto;
    padding: auto;
    align-items: left;
    
}
li a{
    background-color: #7C7C7C;
    color:  #F2FDFF;
    font-size: 1.5em;
   
}
li a:hover + svg{

 fill: red;
}

 h1{
    display: none;
 }
   
    

footer{
    display: grid;
    grid-area: footer;
    padding: auto;
    background-color: #2b303A;
    color: #F2FDFF;
    
   
}

nav>ul {/* ändra egenskaper på texten för listan  */
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type:none;
    padding:auto;
    
    
    
}

nav,main{
    background-color: #7C7C7C;
}

a{
    display: block;
    inline-size: auto;
    color: #F2FDFF;
    text-decoration: none;
}

p{
    color: #F2FDFF;
}

nav img {
    width:10%;
    height: auto;
    
}