.wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "footer";
    background-color: white;
}

body {
    margin: auto;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #2b303a;
    height: auto;
    padding: 10px;
}

header h1 {
    font-size: 25px;
    margin: 0;
    color: white;
}

header a {
    display: flex;
    align-items: center;
    width: fit-content;
}

header img {
    width: 50px;
    height: auto;
}

main img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main {
    display: grid;
    grid-area: main;
    height: auto;
    padding: 0;
    height: 80vh;
}

nav {
    display: grid;
    grid-area: nav;
    height: auto;
    padding: 0;
    align-items: left;
}

ol {
    color: #f2fdff;
}

li a {
    background-color: #7c7c7c;
    color: #f2fdff;
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    width: fit-content;
}

li a:hover + svg {
    fill: red;
}

footer {
    background-color: #2b303a;
    color: #f2fdff;
    padding: 10px;
}

nav>ul {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
}

nav,
main {
    background-color: #7c7c7c;
}

a {
    display: block;
    width: auto;
    color: #f2fdff;
    text-decoration: none;
}

p {
    color: #f2fdff;
}

nav img {
    width: 10%;
    height: auto;
}

svg {
    width: 50px;
    height: 50px;
}

h2 {
    color: white;
    text-align: center;
    background-color: #2b303a;
    height: min-content;
}

#byggadator {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    background-color: #f5ac72;
}

#byggaguides {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    background-color: #ff9b71;
}

#byggadator,
.text-in-middle {
    border: solid;
}

.text-in-middle {
    text-align: center;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.image-for-computer {
    width: 93%;
    height: auto;
    border: solid;
    border-width: 1px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    color: #f2fdff;
}

th,
td {
    border: 1px solid black;
}
